.box-support {
    @include flex(row,center,center);
    gap: 30px;
    line-height: 25px;
    div{
        a{
        border: 2px solid $bgwhite;
        border-radius: 6px;
        position: relative;
        top: 10px;
        padding: 6px;
        &:hover{
            background-color: $pack1-bgcolor;
            background:$pack2-gradient;
            }
        }
    }
}
.form-contact-email {
    margin-top: 30px;
    padding: 0px 20px;
    .form-contact div label {
        display: block;
    }
}

.img-contact {
    width: 100%;
}
    
.main-contact {
    padding: 20px 5px
}







