/*acceso*/
.main-access{
    padding: 0;
    .h1-access {
        background-color: $bgblack1;
        height: 8vh;
        width: 100%;
        @include flex(row,center,center)
    }
}
.access {
    @include flex(row,center,center);
    gap: 60px;
    width: 100%;
    top: 10px;
    position: relative;
    height: auto;
    div input{
        width: 300px;
    }
    .acceso{
        display: flex;
        flex-direction: column;
        align-items: center;
        .div-password {
            position: relative;
            top: 20px;
        }
        .button-access {
            position: relative;
            top: 5px;
        }
        div label{
            display: block;
        }
    }
    
}
.img-access {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 60px;
}
.btn-register{
    margin-top: 5px;
}



