section figure{
    border: 1px solid $bordercolor;
    box-shadow: $box-shadow;
    height: max-content;
    a{
        text-decoration: none;
    }
    &:hover{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,226,226,0.5564600840336135) 93%, rgba(0,212,255,1) 100%);
        transform: scale(1.05);
        transition: all 300ms ease;
    }
    p{
    position: relative;
    top: 6px;
    cursor: pointer;
    }
    img{
        transition: .5s ease;
        &:hover{
            filter: contrast(115%);
        }
    }
    figcaption {
        @include flex-align(center,center,center);
        width: 100%;
        border-top: 1px solid $maincolor;
        border-bottom: 1px solid $maincolor;
        height: 5vh;
        bottom: 3px;
        background-color:$bgblack2;
        text-decoration: none;
        transition: all 300ms ease;
        font-size: $texthsm;
        &:hover{
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,226,226,0.5564600840336135) 93%, rgba(0,212,255,1) 100%);
            transition: all 1900ms ease;
        }
    }
}

