section figure{
    border: 1px solid $bordercolor;
    box-shadow: $box-shadow;
    height: max-content;
    a{
        text-decoration: none;
    }
    &:hover{
        background:$pack1-bgcolor;
        background: $pack2-gradient;
        transform: scale(1.05);
        transition: $transition300;
    }
    p{
        position: relative;
        top: 6px;
        cursor: pointer;
    }
    img{
        transition: .5s ease;
        &:hover{
            filter: contrast(115%);
        }
    }
    figcaption {
        @include flex-align(center,center,center);
        width: 100%;
        border-top: 1px solid $maincolor;
        border-bottom: 1px solid $maincolor;
        height: 5vh;
        bottom: 3px;
        background-color:$bgblack2;
        text-decoration: none;
        transition: $transition300;
        font-size: $texthsm;
        &:hover{
            background: $pack1-bgcolor;
            background: $pack2-gradient;
            transition: all 1900ms ease;
        }
    }
}

