footer {
    width: auto;
    background-color: $bgblack1;
    ul {
        li{
            list-style-type: none;
            display: inline-block;
            background-color:$bgblack2;
            padding: 5px 10px;
            text-align: center;
            a{
                text-decoration: none;
            }
        }
    }
    .group1-footer{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding: 45px 10px;
        .red-social a{
            display: inline-block;
            text-decoration: none;
            width: 60px;
            height: 60px;
            line-height: 60px;
            margin: 20px 10px;
            background-color:$bgblack3;
            text-align: center;
            transition: $transition300;
            &:hover{
                background-color: $maincolor;
            }
            h2{
                font-size: $textsm;
            }
        }
        .box{
            h2{
                font-size: $textsm;
            }
            p{
                color: $textcolor;
                margin-bottom: 10px;
            }    
        }
    }
    .group2-footer{
        background-color:$bgblack2;
        padding: 15px 10px;
        text-align: center;
        color: $textcolor;
        small{
            font-size: 15px;
        }
    }
    .group3-footer ul{
        padding: 0;
        li{
            &:hover{
                background-color: $bordercolor;
                transition: $transition300;
            }
            a{
                color: $textcolor;
            }
        }
    }
}

