.carousel-control-next:hover, 
.carousel-control-prev:hover{
    background-color: transparent;
    }
    .img-notice {
        width: 100%;
    }
    
    .header-top{
        position: sticky;
        z-index: 99;
        top: 0;
    }