/* index */
.container-games {
    padding: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.div-h2-games {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.button-right-index {
    border: 2px solid $maincolor;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: $black;
    font-family: bold;
    color: rgb(255, 255, 255);
    &:hover{
        background: $pack1-bgcolor;
        background: $pack2-gradient;
        transform: scale(1.05);
        transition: $transition300;
    }
}

.carousel-control-next:hover, 
.carousel-control-prev:hover{
    background-color: transparent;
    }
    .img-notice {
        width: 100%;
    }
    
    .header-top{
        position: sticky;
        z-index: 99;
        top: 0;
    }
