/* index */
.index-games-container{
    overflow-x: hidden;
}
.container-games {
    padding: 20px auto;
    @include flex-wrap(center,wrap,space-evenly);
    overflow-x: hidden
}

.div-h2-games {
    @include flex-align(row,center,space-between);
    margin-bottom: 5px;
}

.button-right-index {
    border: 2px solid $maincolor;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: $black;
    font-family: bold;
    color: $bgwhite;
    &:hover{
        background: $pack1-bgcolor;
        background: $pack2-gradient;
        transform: scale(1.05);
        transition: $transition300;
    }
}

.carousel-control-next:hover, 
.carousel-control-prev:hover{
    background-color: transparent;
    }
    .img-notice {
        width: 100%;
    }
    
    .header-top{
        position: sticky;
        z-index: 99;
        top: 0;
    }
