/* pequeño parche */
@media screen and (max-width: 1523px) and (min-width: 1367px) {
    .container-games figure,
    .section-games figure {
        width: 15%;
        img{
            width: 90%;
            margin: 5px;
        }
    }
    }

    @media screen and (width < 1367px){
    .container-games,
    .section-games {
        padding: 0px;
        gap: 0px;
        figure{
            width: 50%;
            img{
                width: 90%;
                margin: 5px;
            }
        }
    }
}
@media screen and (width < 768px) {
    /* index */
    nav {
        flex-direction: column;
    }
    
    main {
        padding: 0;
    }
    
    textarea{
        width: auto;
    }
    
    footer {
        padding: 0 10px;
        .group1-footer  {
            .red-social a{
                display: inline-block;
                text-decoration: none;
                width: 55px;
                height: 55px;
                line-height: 55px;
                margin: 20px 10px;
                background-color: $bgblack2;
                text-align: center;
                transition: 300ms ease;
            }
            grid-template-columns: repeat(1, 1fr);
        }
        .group3-footer ul {
            display: flex;
            justify-content: center;
        }
    }
    
    .main-access {
        padding: 20px 30px;
    }
    
    .botonera{
    padding: 4px 3px;
        img{
            width: 100px;
        }
    }
    .img-notice {
        display: none;
    }
    
    /* tienda */
    h2 {
        font-size: $textsm;
    }
    .main-container {
        flex-direction: column;
        text-align: center;
        .section-search-store {
            margin: 0px;
            width: 100%;
            .search-game-store input {
                width: 100px;
                background-color: $bgblack1;
                color: $bgwhite;
                padding: 0px 4px;
                .category {
                    text-align: center;
                }
            }
        }
        .container-games,
        .section-games {
            padding: 5px;
            gap: 0px;
            figure{
                width: 50%;
                img{
                    width: 90%;
                }
            }
        }
        .section-games {
            justify-content: center;
            display: flex;
            figure{
                width: 50%;
                img{
                width: 90%;
                }
            }
        }
    }
    
    /* contacto*/
    .img-contact {
        width: 100%;
        display: none;
    }
    
    .box-support {
        flex-direction: column;
        gap: 80px;
        margin-top: 20px;
        line-height: 30px;
        .WhatsApp-contact {
            width: 100%;
            position: relative;
        }
        .support-contact {
            width: 100%;
            position: relative;
        }
    }
    .access {
        flex-direction: column;
        padding: 20px 50px;
        height: 70vh;
        text-align: center;
        div input{
            width: auto;
        }
    }
    .img-access {
        display: none;
    }
}