.botonera{
    @include flex-align(row,center,space-between);
    background-color:$black;
    padding: map-get($map: $padding-map, $key:p4-30 );
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    position: sticky;
    z-index: 99;
    img{
        width: 150px;
        }
    ul{
        display: flex;
        list-style: none;
        text-align: center;
        li{
            a{
                text-decoration: none;
                color: $textcolor;
                font-size: 0.9em;
                font-weight: $textbold;
                margin-right: 10px;
                &:hover{
                    color: $maincolor;
                    transform: $scale;
                    transition: $transition300;
                }
            }
        }
    }
}
.button-burger{
    background-color: $maincolor;
}
.logo {
    width: 200px
}
