//variables globales
$maincolor: rgb(1,226,226);
$textcolor: #e9f5ec;
$bordercolor: rgb(0,112,112);
$black: #0a1a2a;

//fonts
$mainfont: 'Roboto', sans-serif;

//weight
$textregular:400;
$textlight: 300;
$textbold: 600;

//sizes
$textsm: 1.2em;
$textmd: 1.4em;
$textlg:2.2em;
$textxl: 3em;

//background
$bgwhite: white;
$bgblack1:#0a141d;
$bgblack2: #0a1a2a;
$bgblack3: #0d2033;


